#navbar{
    text-align: center;
    align-content: center;
    background-color: #0c0c0c;
    margin-top: 0px;
    border-top: #0c0c0c;
    border-bottom-style: inset;
    border-bottom-color: grey;
    border-bottom-width: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-style: solid;
    border-top-width: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
#space{
    color: #0c0c0c;
    text-align: right; 
}#About{
    color: #f1f1f1;
    font-size: 22px;
}
#theme{
    border-radius: 100px;
    font-size: medium;
    font-weight: 800;
    border-style: outset;
    position: relative;
    transition: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transform: translate(0px, 0px, 0px);
}
#theme:hover{
    transform: translateY(-1px);
}
body{
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    transition: all 0.5s; /* smooth transition */
    margin-top: 0%;
    margin-bottom: 0%;
}

        /* Dark theme styles */
body.dark-mode{
    background-color: #121212;
    color: #f1f1f1;
}

body.dark-mode #theme{
    background-color: #333;
    color: #f1f1f1;
    border: 1px solid #555;
    border-style: outset;
}
body.dark-mode #navbar{
    background-color: #0c0c0c;
}
body.dark-mode #About{
    color: white;
}
body.dark-mode #space{
    color: #0c0c0c;
}
body.dark-mode #space2{
    color: #121212;
}
body.dark-mode #info{
    border-right-color: #121212;
    border-left-color: white;
}
body.dark-mode #title{
    border-right-color: #121212;
    color: orangered;
}
body.dark-mode #heading{
    border-right-color: #121212;
}
#title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}
#heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
    color: orange;
    transition: all 0.5s;
}
#info{
    border-left-style: solid;
    border-left-width: 0.5px;
    border-left-color: #121212;
    margin-left: 10%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.5s;
    padding-left: 10px;
}
#page{
    height: 30px;
    border-radius: 10px;
    border-style: outset;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: black;
}
#page:hover{
    border-style: inset;
    background-color: #dfdede;
    border-color: white;
}
#contact{
    background-color: #0c0c0c;
    margin-bottom: 0%;
    height: 200px;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-left: 5px;
    border-top-style: solid;
    border-top-color: #333;
    border-top-width: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#words{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
#descripton{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.space{
    color: #0c0c0c;
}
@media (max-width: 600px) {
    #About{
        font-size: medium;
    }
    #words{
        font-size: 1px;
        color: #0c0c0c;
    }
    #info{
        margin-left: 20%;
    }
}