#title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: rgb(72, 184, 221);
    border-style: outset;
    border-color: cyan;
    width: 350px;
    padding: 5px;
    border-radius: 25px;
}
#title:hover{
    color: teal;
    border-color: rgba(0, 175, 219, 0.884);
    border-style: inset;
}
#subtitles{
    color: navy;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#subtitles:hover{
    color: orangered;
}
.subinfo{
    color: mediumblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border-left-style: solid;
    border-left-color: black;
    border-width: 1px;
    margin-left: 10%;
}
.info{
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-left-style: solid;
    border-left-color: black;
    border-width: 1px;
    margin-left: 10%;
    padding-left: 2px;
}
.info1{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-left-style: solid;
    border-left-color: black;
    border-width: 1px;
    margin-left: 10%;
}
#list{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 14px;
    border-left-style: solid;
    border-left-color: black;
    border-width: 1px;
    margin-left: 10%;
}
#navbar{
    text-align: center;
    align-content: center;
    background-color: #0c0c0c;
    margin-top: 0px;
    border-top: #0c0c0c;
    border-bottom-style: inset;
    border-bottom-color: grey;
    border-bottom-width: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-style: solid;
    border-top-width: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
#space{
    color: #0c0c0c;
    text-align: right; 
}
#About{
    color: #f1f1f1;
    font-size: 22px;
}
#theme{
    border-radius: 100px;
    font-size: medium;
    font-weight: 800;
    border-style: outset;
    transition: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transform: translate(0px, 0px, 0px);
}
#theme:hover{
    transform: translateY(-1px);
}
body{
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    transition: all 0.5s; /* smooth transition */
    margin-top: 0%;
    margin-bottom: 0%;
}

        /* Dark theme styles */
body.dark-mode{
    background-color: #121212;
    color: white;
}

body.dark-mode #theme{
    background-color: #333;
    color: #f1f1f1;
    border: 1px solid #555;
    border-style: outset;
}
body.dark-mode #list{
    color: white;
}
body.dark-mode .subinfo{
    color: lightskyblue;
}
body.dark-mode #subtitles{
    color: lightseagreen;
}
#page{
    height: 30px;
    border-radius: 10px;
    border-style: outset;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: black;
}
#page:hover{
    border-style: inset;
    background-color: #dfdede;
    border-color: white;
}
#contact{
    background-color: #0c0c0c;
    margin-bottom: 0%;
    height: 200px;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-left: 5px;
    border-top-style: solid;
    border-top-color: #333;
    border-top-width: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#words{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
#descripton{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.space{
    color: #0c0c0c;
}
@media (max-width: 600px) {
    #About{
        font-size: medium;
    }
    #words{
        font-size: 1px;
        color: #0c0c0c;
    }
}
img{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}